
.track-line {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 100%,
            #ff0000, #ff6600);
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,1.0), 15, 0.8, 0, 0);
}

.pause-pane {
    -fx-background-color: rgba(50, 0, 50, 0.9);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(148, 0, 211, 0.8), 20, 0, 0, 0);
}
.track-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 15; /* Bordes redondeados */
    -fx-padding: 10 15;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 15;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.75), 10, 0, 0, 0); /* Bordes brillantes */
    -fx-transition: background-color 0.2s, transform 0.1s, -fx-effect 0.1s;
}

.track-button:pressed {
    -fx-background-color: transparent; /* Mantener el fondo transparente */
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.75), 10, 0, 0, 0); /* Bordes brillantes cian */
    /*-fx-transform: scale(0.95); !* Efecto de pulsado *!*/
}

.track-button.red {
    -fx-background-color: #ff0000;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 0, 0, 0.6), 10, 0, 0, 0);
}

.track-button.green {
    -fx-background-color: #00ff00;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 255, 0, 0.6), 10, 0, 0, 0);
}

.track-button.blue {
    -fx-background-color: #0000ff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 255, 0.6), 10, 0, 0, 0);

}

.track-button.yellow {
    -fx-background-color: #ffff00;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 0, 0.6), 10, 0, 0, 0);
}

.track-button.orange {
    -fx-background-color: #ff6600;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 165, 0, 0.6), 10, 0, 0, 0);
}

.track-button:pressed {
    -fx-background-color: #111111;
    /*-fx-transform: scale(0.95);*/
}

.track-button.red:pressed {
    -fx-background-color: #cc0000;


}

.track-button.green:pressed {
    -fx-background-color: #00cc00;
}

.track-button.blue:pressed {
    -fx-background-color: #0000cc;

}

.track-button.yellow:pressed {
    -fx-background-color: #cccc00;

}

.track-button.orange:pressed{
    -fx-background-color: #cc5200;

}

.transparent-black-rectangle {
    -fx-fill: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    -fx-stroke: white; /* Borde blanco */
    -fx-stroke-width: 2; /* Ancho del borde */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0); /* Sombra blanca brillante */
}
.transparent-button {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-color: white; /* Borde blanco */
    -fx-border-width: 2; /* Ancho del borde */
    -fx-text-fill: white; /* Letra blanca */
    -fx-font-weight: normal; /* Letra en negrita */
    -fx-padding: 10 20; /* Relleno del botón */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0), /* Sombra blanca brillante */
    glow(75);
}
