.button-glow {
    -fx-background-color: rgba(255, 255, 255, 0.3); /* Botón semitransparente */
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(128, 0, 128, 0.8), 15, 0.5, 0, 0); /* Brillo morado */
    -fx-text-fill: white; /* Color del texto del botón */
}
