

/* Estilo para el botón */
.button-glow {
    -fx-background-color: rgba(255, 255, 255, 0.3); /* Botón semitransparente */
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(128, 0, 128, 0.8), 15, 0.5, 0, 0); /* Brillo morado */
    -fx-text-fill: white; /* Color del texto del botón */
}

/* Estilo para el label */
.label-title {
    font-family: 'Neon', sans-serif;
    -fx-text-fill: rgba(186, 85, 211, 1.0); /* Color de texto morado brillante */
    -fx-font-size: 49px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 10px; /* Espaciado alrededor del texto */
    -fx-border-color: rgba(186, 85, 211, 0.8); /* Color del borde */
    -fx-border-width: 5px; /* Ancho del borde */
    -fx-border-radius: 5px; /* Borde redondeado */
    -fx-effect: dropshadow(gaussian, rgba(186, 85, 211, 0.6), 10, 0.7, 0, 0),
    dropshadow(gaussian, rgba(186, 85, 211, 0.4), 20, 0.5, 0, 0),
    dropshadow(gaussian, rgba(186, 85, 211, 1.0), 30, 0.3, 0, 0),
    glow(100); /* Efecto de brillo ajustado */
}
.label-title2 {
    font-family: 'Neon', sans-serif;
    -fx-text-fill: rgba(186, 85, 211, 1.0); /* Color de texto morado brillante */
    -fx-font-size: 26px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 10px; /* Espaciado alrededor del texto */
    -fx-border-color: rgba(186, 85, 211, 0.8); /* Color del borde */
    -fx-border-width: 5px; /* Ancho del borde */
    -fx-border-radius: 5px; /* Borde redondeado */
    -fx-effect: dropshadow(gaussian, rgba(186, 85, 211, 0.6), 10, 0.7, 0, 0),
    dropshadow(gaussian, rgba(186, 85, 211, 0.4), 20, 0.5, 0, 0),
    dropshadow(gaussian, rgba(186, 85, 211, 1.0), 30, 0.3, 0, 0),
    glow(100); /* Efecto de brillo ajustado */
}
.label-mult {
    font-family: 'Neon', sans-serif;
    -fx-text-fill: rgba(186, 85, 211, 1.0); /* Color de texto morado brillante */
    -fx-font-size: 32px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 10px; /* Espaciado alrededor del texto */

    -fx-effect: dropshadow(gaussian, rgba(186, 85, 211, 0.6), 10, 0.7, 0, 0),
    dropshadow(gaussian, rgba(186, 85, 211, 0.4), 20, 0.5, 0, 0),
    dropshadow(gaussian, rgba(186, 85, 211, 1.0), 30, 0.3, 0, 0),
    glow(100); /* Efecto de brillo ajustado */
}
.label-PAUSE {
    font-family: 'Neon', sans-serif;
    -fx-text-fill: #FFFFFF; /* Color de texto morado brillante */
    -fx-font-size: 32px; /* Tamaño de fuente */
    -fx-font-weight: normal; /* Negrita */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-padding: 10px; /* Espaciado alrededor del texto */

    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0), /* Sombra blanca brillante */
    glow(75);
}
.panel {
    -fx-fill: rgba(255, 255, 255, 0.0); /* Fondo transparente */
    -fx-stroke: white; /* Borde blanco */
    -fx-stroke-width: 2; /* Ancho del borde */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0.5, 0, 0); /* Sombra blanca brillante */
}
.progressbar {
    -fx-background-color: transparent;
    -fx-padding: 0.5em;
}

.progressbar .track {
    -fx-background-color: rgba(255, 255, 255, 0.1); /* Fondo transparente */
    -fx-background-radius: 10;
}

.progressbar .bar {
    -fx-background-color: linear-gradient(
            to right,
            #FF4500, /* Rojo anaranjado */
            #1E90FF, /* Azul brillante */
            #FFD700, /* Amarillo dorado */
            #32CD32, /* Verde lima */
            #FF4500  /* Rojo anaranjado */
    ); /* Gradiente de colores */
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0, 0, 0); /* Efecto de sombra brillante */
}
.neon-button {
    -fx-background-color: linear-gradient(to bottom, #3c3c3c, #0f0f0f);
    -fx-background-radius: 10;
    -fx-padding: 10px 20px;
    -fx-text-fill: #FFFFFF; /* Color del texto */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
 /* Fondo oscuro más claro al pasar el mouse */
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.8), 15, 0.3, 0, 0); /* Sombra morada brillante */
}


.neon-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #1e1e1e, #0f0f0f); /* Fondo más oscuro al presionar */
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.8), 10, 0.3, 0, 0); /* Sombra morada brillante */
}.neon-button:hover{
    -fx-background-color: linear-gradient(to bottom, #1e1e1e, #0f0f0f); /* Fondo más oscuro al presionar */
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.8), 10, 0.3, 0, 0); /* Sombra morada brillante */
}